:root{
  font-size: 16px;
}

*{
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1875rem;
  text-align: center;
}

body{
  background-color: #F3F5FC;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  position: relative;
  z-index: 4;
  color: black;
  margin-bottom: 1rem;
}

#header{
  display: flex;
  flex-direction: row;
}

#logo{
  width: 0%;
  margin: 2.5rem 0 2.5rem 5.25rem;
}

#titulo {
  width: 100%;
  position: relative;
  left: -2.625rem;
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#titulo h1 {
  font-size: 3rem;
  width: fit-content;
  text-align: center;
  text-transform: uppercase;
}

#inicio{
  display: block;
  margin: auto;
}

.btn-iniciar {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: white;
  background-color: #0A3871;
  padding: 1.5rem;
  margin-bottom: 2.375rem;
  border-radius: 1.5rem;
  width: 19.5rem;
  height: 7rem;
  border: 0;
}

.btn-iniciar:hover {
  background-color:#072B61;
}

.btn{
  background-color: transparent;
  border: 1px solid #0A3871;
  box-sizing: border-box;
  border-radius: 1.5rem;
  height: 4.1875rem;
  padding: 1.5rem;
  color: #0A3871;
}

.btn:hover{
  background-color: #EFF1FA;
}

.btn-bg{
  background-color: #0A3871;
  color: white;
}

.btn-bg:hover{
  background-color: #072B61;
}

#agregar-palabra{
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 55vh;
  justify-content: space-between;
}

.text-input {
  background-color: transparent;
  font-size: 2rem;
  text-align: left;
  color: #0A3871;
  border: 0;
  display: block;
  width: 90%;
  height: 7rem;
  margin-left: 1rem;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 1rem;
}

.info p{
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

#juego{
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  justify-content: space-between;
  align-items: center;
}

#ahorcado{
  width: 60%;
  height: 40%;
  margin-bottom: 3rem;
  max-width: 1200px;
  max-height: 800px;
}

.word{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.letter{
  margin: 0 0.5rem 0 0.5rem;
}

.letter img{
  width: 4rem;
}
.letter p{
  font-size: 3rem;
  color: #0A3871;
  text-transform: uppercase;
}

.other{
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: #495057;
  margin-bottom: 3rem;
}

.other p{
  margin: 1rem;
  text-transform: uppercase;
}

.mobile {
  height: 3rem;
  width: 6rem;
  margin: auto;
  display: none;
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
  #header{
    display: block;
  }
  #logo{
    margin: 2.5rem;
  }
  #titulo {
    left: 0;
  }
  #agregar-palabra{
    max-width: 90%;
  }
  #ahorcado{
    width: 90%;
    height: 60%;
  }
  .word{
    width: 100%;
  }
  .letter{
    margin: 0 0.25rem 0 0.25rem;
  }
  .letter img{
    width: 3rem;
  }
  .letter p{
    font-size: 2rem;
    color: #0A3871;
  }
  .other{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #495057;
    margin-bottom: 3rem;
  }
  .mobile{
    display: block;
  }
}

@media (min-width: 768px) and (max-width:1079px) {
  #agregar-palabra{
    min-height: 80vh;
  }
  #ahorcado{
    width: 90%;
    height: 60%;
  }
  .mobile{
    display: block;
  }
}

.display-none{
  display: none !important;
}